<section id="carousel-component" class="about">
  <div class="container">

    <div class="carousel">
      <div class="carousel-track">
        <div class="carousel-slide active">
          <img src="assets/images/carrocel2/2.png" class="carrousel-image" >  
        </div>
        <div class="carousel-slide">
          <img src="assets/images/carrocel2/5.png" class="carrousel-image">
        </div>
        <!-- <div class="carousel-slide">
          <img src="assets/images/carrocel2/1.png" class="carrousel-image">
        </div> -->
        <div class="carousel-slide">
          <img src="assets/images/carrocel2/4.png" class="carrousel-image">
        </div>
      </div>

      <button class="carousel-btn prev">&#10094;</button>
      <button class="carousel-btn next">&#10095;</button>
      
      <div class="carousel-indicators">
        <span class="dot active"></span>
        <span class="dot"></span>
        <span class="dot"></span>
        <!-- <span class="dot"></span> -->
        <!-- <span class="dot"></span> -->
        <!-- <span class="dot"></span> -->
      </div>
    </div>
  </div>
</section>