<section id="local" class="local">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Localidade</h2>
        </div>
        <div class="local-content">
              <iframe 
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3838.2847472!2d-47.8567763!3d-15.8299791!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x935a2486614cfa13%3A0xfc35d70110cb68d6!2sSt.%20de%20Habita%C3%A7%C3%B5es%20Individuais%20Sul%20-%20Lago%20Sul%2C%20Bras%C3%ADlia%20-%20DF!5e0!3m2!1spt-BR!2sbr!4v1736691200000!5m2!1spt-BR!2sbr" 
                width="100%" 
                height="400" 
                style="border:0;" 
                allowfullscreen="" 
                loading="lazy" 
                referrerpolicy="no-referrer-when-downgrade">
            </iframe>
        </div>

    </div>
</section>
